:root {
    --f1-pink: #be579b;
    --f1-blue: #0e4596;
    --f1-dark: #050505;
}

body {
    background-color: var(--f1-dark);
    color: white;
    font-family: 'Orbitron', sans-serif;
    scroll-behavior: smooth;
}

/* Fondo del Leaderboard */
#main-board {
    background-image: linear-gradient(rgba(5,5,5,0.8), rgba(5,5,5,0.8)), url('assets/fondoboard.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

/* Fondo de Premiación con tu imagen */
#awards-section {
    background-image: url('assets/podio_estatuillas.jpg');
    background-size: cover;
    background-position: center;
}

.logo-header {
    max-width: 250px;
    margin: 0 auto;
}

.card-escuderia {
    background: rgba(10, 10, 10, 0.8);
    border-left: 5px solid var(--f1-blue);
    transition: all 0.5s ease;
}

.top-1 { border-left-color: var(--f1-pink); background: rgba(190, 87, 155, 0.1); }

/* Estilos de los nombres en el podio */
.podium-label {
    @apply font-black uppercase italic text-center text-white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    width: 200px;
}

.btn-awards {
    background: var(--f1-pink);
    padding: 15px 30px;
    border-radius: 4px;
    transition: opacity 0.3s;
}

.btn-awards:hover { opacity: 0.8; }

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-row { animation: slideUp 0.5s ease forwards; }
